<section class="contact">

    <h4>Contact Information for Alejandro's Blog Website:</h4>

    <b>Email:</b> sayodele21@gmail.com <br>
    <b>Phone:</b> +2348100270070 <br>
    <b>Address:</b> 2, Araromi, adjacent FUTA North Gate, Akure, Ondo State Nigeria. <br>


    <b>Social Media:</b> <br>

    <div class="social-media">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <p>Feel free to reach out to us via any of the above channels. We look forward to hearing from you!</p>
    
</section>