<div class="login">
    <form class="myForm">
        <h2>Welcome Admin Kindly verify it's You</h2>
        <div class="form__inputs">
            <input type="email" name="email" placeholder='Your Email' >
            <div class="error email"></div>
            <input type="password" name="password" placeholder="Your password">
            <div class="error password"></div>
            <button>Login Admin</button>
        </div>
    </form>

    <script>

        // declaring variables
        const form = document.querySelector('form')
        const emailError = document.querySelector('.error.email')
        const passwordError = document.querySelector('.error.password')

        // listening to events and form actions
        form.addEventListener('submit', async (e) =>{
            e.preventDefault();

            emailError.textContent = '';
            passwordError.textContent = '';

            const email = form.email.value;
            const password = form.password.value;

            try {
                const res = await fetch('/admin/login', {
                    method: 'POST',
                    body: JSON.stringify({ email, password }),
                    headers: {'Content-Type': 'application/json'}
                })
                const data = await res.json()
                console.log(data)
                if(data.errors){
                    emailError.textContent = data.errors.email;
                    passwordError.textContent = data.errors.password;
                }
                if(data.user){
                    console.log(data.user)
                    location.assign('/')
                }
            } catch (err) {
                console.log(err)
            }

        })



    </script>
</div>