<header class="header">
    <div class="logo">
        <a href="/"><h2>bizwithjandro</h2></a>
    </div>
    <nav class="myNav">
        <ul>
            <a href="/"><li>home</li></a>
            <a href="/about"><li>about</li></a>
            <a href="/contact"><li>contact</li></a>
            <a href="/hotBlog"><li>hot blogs</li></a>
        </ul>
        <div class="register"><a href="/admin/login">be a member</a></div>
    </nav>
    <div class="hamburger">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
    </div>
</header>